<div>
  <div class="profile">
    <img src="{{ section.settings.user_img | img_url: "300x300" }}">
    <h3>
      {{ section.settings.user_name }}
    </h3>
    <p>{{ section.settings.user_bio }}</p>
  </div>
</div>

{% schema %}
  {
    "name": "Profile",
    "settings": [
      {
        "id": "header",
        "type": "text",
        "label": "Profile Settings",
        "default": "Hello world"
      },
       {
         "type": "image_picker",
         "id": "user_img",
         "label": "User Photo"
       },
       {
         "type": "text",
         "id": "user_name",
         "label": "User Name"
       },
       {
         "type": "richtext",
         "id": "user_bio",
         "label": "User Bio"
       }
    ],
    "presets": [
      {
        "category": "Profile",
        "name": "User Profile"
      }
    ]
  }
{% endschema %}